project.pbxproj
project.xcworkspace
xcuserdata
Assets.xcassets/bulb_blue_glow.imageset
Assets.xcassets/bulb_blue.imageset
Assets.xcassets/bulb_green.imageset
Assets.xcassets/bulb_green_glow.imageset
Assets.xcassets/bulb_red.imageset
Assets.xcassets/bulb_red_glow.imageset
Assets.xcassets/bulb_yellow.imageset
Assets.xcassets/bulb_yellow_glow.imageset
Assets.xcassets/IconOff.imageset
Assets.xcassets/IconOn.imageset
Assets.xcassets/squareGear.imageset
