project.pbxproj
project.xcworkspace
xcuserdata
bulb_blue_glow.imageset
bulb_blue.imageset
bulb_green_glow.imageset
bulb_green.imageset
bulb_red.imageset
bulb_red_glow.imageset
bulb_yellow.imageset
bulb_yellow_glow.imageset
IconOff.imageset
IconOn.imageset
squareGear.imageset
.idea
